In [1]:
import warnings
warnings.filterwarnings('ignore')
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import nltk
%matplotlib inline

In [14]:
train = pd.read_csv('train_E6oV3lV.csv')

In [3]:
train.head()

   id  label                                              tweet
0   1      0   @user when a father is dysfunctional and is s...
1   2      0  @user @user thanks for #lyft credit i can't us...
2   3      0                                bihday your majesty
3   4      0  #model   i love u take with u all the time in ...
4   5      0             factsguide: society now    #motivation

In [15]:
#train['word_count1'] = train['tweet'].apply(lambda x: len(x.split(" ")))
train['word_count'] = train['tweet'].apply(lambda x: len(str(x).split(" ")))
#train['word_count'] = train['tweet'].apply(lambda x: len(x.split(" ")))

In [16]:
train.head()

   id  label                                              tweet  word_count
0   1      0   @user when a father is dysfunctional and is s...          21
1   2      0  @user @user thanks for #lyft credit i can't us...          22
2   3      0                                bihday your majesty           5
3   4      0  #model   i love u take with u all the time in ...          17
4   5      0             factsguide: society now    #motivation           8

In [6]:
train['char_count'] = train['tweet'].str.len()

In [7]:
train.head()

,id,label,tweet,word_count,char_count
0,1,0,@user when a father is dysfunctional and is s...,21,102
1,2,0,@user @user thanks for #lyft credit i can't us...,22,122
2,3,0,bihday your majesty,5,21
3,4,0,#model i love u take with u all the time in ...,17,86
4,5,0,factsguide: society now #motivation,8,39

In [8]:
a = 'piyush is a good boy'

In [9]:
b = a.split()

In [10]:
len(b)

5

In [11]:
b

['piyush', 'is', 'a', 'good', 'boy']

In [12]:
len(a)

20

In [13]:
def avg_word(sentence):
    return (sum(len(word) for word in sentence.split())/len(sentence.split()))

In [14]:
train['avg_word'] = train['tweet'].apply(lambda x: avg_word(x))

In [15]:
train.head()

,id,label,tweet,word_count,char_count,avg_word
0,1,0,@user when a father is dysfunctional and is s...,21,102,4.555556
1,2,0,@user @user thanks for #lyft credit i can't us...,22,122,5.315789
2,3,0,bihday your majesty,5,21,5.666667
3,4,0,#model i love u take with u all the time in ...,17,86,4.928571
4,5,0,factsguide: society now #motivation,8,39,8.000000

In [16]:
avg_word(a)

3.2

In [17]:
def avg1(sentence):
    return sum(len(word) for word in sentence.split())

In [18]:
avg1(a)

16

In [19]:
#nltk.download_shell()

In [20]:
from nltk.corpus import stopwords

In [21]:
import os
import nltk
import nltk.corpus

In [22]:
print(os.listdir(nltk.data.find("corpora")))

['shakespeare', 'omw.zip', 'movie_reviews.zip', 'conll2000.zip', 'genesis', 'brown', 'names.zip', 'genesis.zip', 'wordnet', 'stopwords', 'wordnet_ic.zip', 'names', 'gutenberg', 'shakespeare.zip', 'gazetteers', 'wordnet.zip', 'movie_reviews', 'cmudict', 'treebank', 'inaugural.zip', 'conll2000', 'twitter_samples', 'gazetteers.zip', 'cmudict.zip', 'twitter_samples.zip', 'wordnet_ic', 'brown.zip', 'inaugural', 'gutenberg.zip', 'stopwords.zip', 'treebank.zip', 'omw', 'words.zip', 'words']

In [23]:
stop = stopwords.words('english')

In [24]:
 test1 = "hi how are you, when you are coming to India"

In [25]:
test2 = [x for x in test1.split() if x  in stop]

In [26]:
test2

['how', 'are', 'when', 'you', 'are', 'to']

In [27]:
len([x for x in test1.split() if x  in stop])

6

In [28]:
train['stopwords']  = train['tweet'].apply(lambda xtweet : len([x for x in xtweet.split() if x  in stop]))

In [29]:
train.head()

,id,label,tweet,word_count,char_count,avg_word,stopwords
0,1,0,@user when a father is dysfunctional and is s...,21,102,4.555556,10
1,2,0,@user @user thanks for #lyft credit i can't us...,22,122,5.315789,5
2,3,0,bihday your majesty,5,21,5.666667,1
3,4,0,#model i love u take with u all the time in ...,17,86,4.928571,5
4,5,0,factsguide: society now #motivation,8,39,8.000000,1

In [30]:
train['hastags'] = train['tweet'].apply(lambda x: len([x for x in x.split() if x.startswith('#')]))

In [31]:
train.head()

,id,label,tweet,word_count,char_count,avg_word,stopwords,hastags
0,1,0,@user when a father is dysfunctional and is s...,21,102,4.555556,10,1
1,2,0,@user @user thanks for #lyft credit i can't us...,22,122,5.315789,5,3
2,3,0,bihday your majesty,5,21,5.666667,1,0
3,4,0,#model i love u take with u all the time in ...,17,86,4.928571,5,1
4,5,0,factsguide: society now #motivation,8,39,8.000000,1,1

In [32]:
train['numerics'] = train['tweet'].apply(lambda x: len([x for x in x.split() if x.isdigit()]))

In [33]:
train.head()

,id,label,tweet,word_count,char_count,avg_word,stopwords,hastags,numerics
0,1,0,@user when a father is dysfunctional and is s...,21,102,4.555556,10,1,0
1,2,0,@user @user thanks for #lyft credit i can't us...,22,122,5.315789,5,3,0
2,3,0,bihday your majesty,5,21,5.666667,1,0,0
3,4,0,#model i love u take with u all the time in ...,17,86,4.928571,5,1,0
4,5,0,factsguide: society now #motivation,8,39,8.000000,1,1,0

In [34]:
train['upper'] = train['tweet'].apply(lambda x: len([x for x in x.split() if x.isupper()]))

In [35]:
train.head()

,id,label,tweet,word_count,char_count,avg_word,stopwords,hastags,numerics,upper
0,1,0,@user when a father is dysfunctional and is s...,21,102,4.555556,10,1,0,0
1,2,0,@user @user thanks for #lyft credit i can't us...,22,122,5.315789,5,3,0,0
2,3,0,bihday your majesty,5,21,5.666667,1,0,0,0
3,4,0,#model i love u take with u all the time in ...,17,86,4.928571,5,1,0,0
4,5,0,factsguide: society now #motivation,8,39,8.000000,1,1,0,0

In [8]:
test3 = "Hi how are you, When you are coming to India, Thanks thanks"

In [37]:
test4 = " ".join(x.lower() for x in test3.split())
#test4 = (x.lower() for x in test3.split())

In [38]:
test4

'hi how are you, when you are coming to india, thanks thanks'

In [39]:
type(test4)

str

In [40]:
a = list('abc')

In [41]:
b = ' '.join(a)
type(b)

str

In [42]:
a

['a', 'b', 'c']

In [43]:
b

'a b c'

In [44]:
' '.join(x.lower() for x in test3.split())

'hi how are you, when you are coming to india, thanks thanks'

In [45]:
'a b c'.split()

['a', 'b', 'c']

In [46]:
train['tweet'] = train['tweet'].apply(lambda x : ' '.join(x.lower() for x in x.split()))

In [47]:
train.head()

,id,label,tweet,word_count,char_count,avg_word,stopwords,hastags,numerics,upper
0,1,0,@user when a father is dysfunctional and is so...,21,102,4.555556,10,1,0,0
1,2,0,@user @user thanks for #lyft credit i can't us...,22,122,5.315789,5,3,0,0
2,3,0,bihday your majesty,5,21,5.666667,1,0,0,0
3,4,0,#model i love u take with u all the time in ur...,17,86,4.928571,5,1,0,0
4,5,0,factsguide: society now #motivation,8,39,8.000000,1,1,0,0

In [48]:
train['tweet'] = train['tweet'].str.replace('[^\w\s]','')

In [49]:
train.head()

,id,label,tweet,word_count,char_count,avg_word,stopwords,hastags,numerics,upper
0,1,0,user when a father is dysfunctional and is so ...,21,102,4.555556,10,1,0,0
1,2,0,user user thanks for lyft credit i cant use ca...,22,122,5.315789,5,3,0,0
2,3,0,bihday your majesty,5,21,5.666667,1,0,0,0
3,4,0,model i love u take with u all the time in urð...,17,86,4.928571,5,1,0,0
4,5,0,factsguide society now motivation,8,39,8.000000,1,1,0,0

In [50]:
train['tweet'] = train['tweet'].apply(lambda x : ' '.join(x for x in x.split() if x not in stop))

In [51]:
train.head()

,id,label,tweet,word_count,char_count,avg_word,stopwords,hastags,numerics,upper
0,1,0,user father dysfunctional selfish drags kids d...,21,102,4.555556,10,1,0,0
1,2,0,user user thanks lyft credit cant use cause do...,22,122,5.315789,5,3,0,0
2,3,0,bihday majesty,5,21,5.666667,1,0,0,0
3,4,0,model love u take u time urð ðððð ððð,17,86,4.928571,5,1,0,0
4,5,0,factsguide society motivation,8,39,8.000000,1,1,0,0

In [52]:
freq = pd.Series(' '.join(train['tweet']).split()).value_counts()[:10]

In [53]:
freq

user     17473
love      2647
ð         2511
day       2199
â         1797
happy     1663
amp       1582
im        1139
u         1136
time      1110
dtype: int64

In [54]:
type(freq)

pandas.core.series.Series

In [55]:
freq1 = list(freq.index)

In [56]:
freq.index

Index(['user', 'love', 'ð', 'day', 'â', 'happy', 'amp', 'im', 'u', 'time'], dtype='object')

In [57]:
type(' '.join(train['tweet']).split())

list

In [58]:
train['tweet'] = train['tweet'].apply(lambda x: " ".join(x for x in x.split() if x not in freq1))

In [59]:
freq2 = pd.Series(' '.join(train['tweet']).split()).value_counts()[-10:]

In [60]:
freq2

brieandmommyadventures    1
ðlol                      1
scooter                   1
lascoloradas              1
captainamerica            1
alphabounce               1
sarada                    1
amazonian                 1
lostboy                   1
leaser                    1
dtype: int64

In [61]:
freq3 = list(freq2.index)

In [62]:
train['tweet'] = train['tweet'].apply(lambda x: " ".join(x for x in x.split() if x not in freq3))

In [63]:
train.head()

,id,label,tweet,word_count,char_count,avg_word,stopwords,hastags,numerics,upper
0,1,0,father dysfunctional selfish drags kids dysfun...,21,102,4.555556,10,1,0,0
1,2,0,thanks lyft credit cant use cause dont offer w...,22,122,5.315789,5,3,0,0
2,3,0,bihday majesty,5,21,5.666667,1,0,0,0
3,4,0,model take urð ðððð ððð,17,86,4.928571,5,1,0,0
4,5,0,factsguide society motivation,8,39,8.000000,1,1,0,0

In [64]:
from textblob import TextBlob

In [65]:
blob = TextBlob("Analytics Vidhya is a great platform to learn data science. \n It helps community through blogs, hackathons, discussions,etc.")

In [66]:
blob

TextBlob("Analytics Vidhya is a great platform to learn data science.
 It helps community through blogs, hackathons, discussions,etc.")

In [67]:
blob.sentences

[Sentence("Analytics Vidhya is a great platform to learn data science."),
 Sentence("It helps community through blogs, hackathons, discussions,etc.")]

In [68]:
blob.sentences[0]

Sentence("Analytics Vidhya is a great platform to learn data science.")

In [69]:
## printing words of first sentence
for words in blob.sentences[0].words:
    print(words)

Analytics
Vidhya
is
a
great
platform
to
learn
data
science

In [70]:
for np in blob.noun_phrases:
    print(np)

analytics vidhya
great platform
data science

In [71]:
for words, tag in blob.tags:
    print(words, tag)

Analytics NNS
Vidhya NNP
is VBZ
a DT
great JJ
platform NN
to TO
learn VB
data NNS
science NN
It PRP
helps VBZ
community NN
through IN
blogs NNS
hackathons NNS
discussions NNS
etc FW

In [72]:
blob.sentences[1].words[1]

'helps'

In [73]:
blob.sentences[1].words[1].singularize()

'help'

In [74]:
from textblob import Word

In [75]:
w = Word('cat')
w.pluralize()

'cats'

In [76]:
## using tags
for word,pos in blob.tags:
    if pos == 'NN':
         print (word.pluralize())

platforms
sciences
communities

In [77]:
## lemmatization
w = Word('went')
w.lemmatize('v')

'go'

In [78]:
w = Word('thieves')
w.lemmatize('n')

'thief'

In [79]:
for ngram in blob.ngrams(2):
    print (ngram)

['Analytics', 'Vidhya']
['Vidhya', 'is']
['is', 'a']
['a', 'great']
['great', 'platform']
['platform', 'to']
['to', 'learn']
['learn', 'data']
['data', 'science']
['science', 'It']
['It', 'helps']
['helps', 'community']
['community', 'through']
['through', 'blogs']
['blogs', 'hackathons']
['hackathons', 'discussions']
['discussions', 'etc']

In [80]:
print (blob)

Analytics Vidhya is a great platform to learn data science.
 It helps community through blogs, hackathons, discussions,etc.

In [81]:
type(blob)

textblob.blob.TextBlob

In [82]:
blob.sentiment

Sentiment(polarity=0.8, subjectivity=0.75)

In [83]:
TextBlob('you are a very bad person').sentiment

Sentiment(polarity=-0.9099999999999998, subjectivity=0.8666666666666667)

In [84]:
blob1 = TextBlob('Analytics Vidhya is an gret platfrm to learn data scence')

In [85]:
blob1.correct()

TextBlob("Analytics Vidhya is an great platform to learn data science")

In [86]:
blob1.words[4].spellcheck()

[('great', 0.5351351351351351),
 ('get', 0.3162162162162162),
 ('grew', 0.11216216216216217),
 ('grey', 0.026351351351351353),
 ('greet', 0.006081081081081081),
 ('fret', 0.002702702702702703),
 ('grit', 0.0006756756756756757),
 ('cret', 0.0006756756756756757)]

In [87]:
blob1.words[3].spellcheck()

[('an', 1.0)]

In [88]:
blob1.words[-1].spellcheck()

[('science', 0.5357142857142857),
 ('scene', 0.4375),
 ('spence', 0.026785714285714284)]

In [89]:
import random

blob2 = TextBlob('Analytics Vidhya is a thriving community for data driven industry. This platform allows \
people to know more about analytics from its articles, Q&A forum, and learning paths. Also, we help \
professionals & amateurs to sharpen their skillsets by providing a platform to participate in Hackathons.')

In [90]:
blob2

TextBlob("Analytics Vidhya is a thriving community for data driven industry. This platform allows people to know more about analytics from its articles, Q&A forum, and learning paths. Also, we help professionals & amateurs to sharpen their skillsets by providing a platform to participate in Hackathons.")

In [91]:
nouns = list()
for word, tag in blob2.tags:
    if tag == 'NN':
        nouns.append(word.lemmatize())

In [92]:
nouns

['community', 'industry', 'platform', 'forum', 'platform']

In [93]:
print ("This text is about...")
for item in random.sample(nouns, 5):
        word = Word(item)
        print (word.pluralize())

This text is about...
platforms
platforms
communities
industries
forums

In [94]:
blob3 = TextBlob('हिंदी')
blob3.detect_language()

'hi'

In [95]:
blob4 = TextBlob('hin')
blob4.detect_language()

'de'

In [96]:
blob5 = TextBlob('i am a good boy and vikas is a bad boy')
blob5.detect_language()

'en'

In [97]:
blob4.translate(from_lang='de', to ='en')

TextBlob("down")

In [98]:
blob5.translate(to= 'ja') ## or you can directly do like this

TextBlob("私は良い少年です。そして、ビカスは悪い少年です")

In [99]:
TextBlob('ನಇಲ್ಲ').translate(to= 'en')

TextBlob("Not at all")

In [100]:
training = [
('Tom Holland is a terrible spiderman.','pos'),
('a terrible Javert (Russell Crowe) ruined Les Miserables for me...','pos'),
('The Dark Knight Rises is the greatest superhero movie ever!','neg'),
('Fantastic Four should have never been made.','pos'),
('Wes Anderson is my favorite director!','neg'),
('Captain America 2 is pretty awesome.','neg'),
('Let\s pretend "Batman and Robin" never happened..','pos'),
]
testing = [
('Superman was never an interesting character.','pos'),
('Fantastic Mr Fox is an awesome film!','neg'),
('Dragonball Evolution is simply terrible!!','pos')
]

In [101]:
from textblob import classifiers

In [102]:
classifier = classifiers.NaiveBayesClassifier(training)

In [103]:
## decision tree classifier
dt_classifier = classifiers.DecisionTreeClassifier(training)

In [104]:
classifier.accuracy(testing)

1.0

In [105]:
classifier.show_informative_features(3)

Most Informative Features
            contains(is) = True              neg : pos    =      2.9 : 1.0
         contains(never) = False             neg : pos    =      1.8 : 1.0
             contains(a) = False             neg : pos    =      1.8 : 1.0

In [106]:
blob = TextBlob('the weather is terrible!', classifier=classifier)
print (blob.classify())

neg

In [107]:
train['tweet'][:5]

0    father dysfunctional selfish drags kids dysfun...
1    thanks lyft credit cant use cause dont offer w...
2                                       bihday majesty
3                              model take urð ðððð ððð
4                        factsguide society motivation
Name: tweet, dtype: object

In [108]:
train['tweet'][:5].apply(lambda x: str(TextBlob(x).correct()))

0    father dysfunctional selfish drags kiss dysfun...
1    thanks left credit can use cause dont offer wh...
2                                       midday majesty
3                               model take or ðððð ððð
4                        factsguide society motivation
Name: tweet, dtype: object

In [109]:
TextBlob(train['tweet'][1]).words

WordList(['thanks', 'lyft', 'credit', 'cant', 'use', 'cause', 'dont', 'offer', 'wheelchair', 'vans', 'pdx', 'disapointed', 'getthanked'])

In [110]:
from nltk.stem import PorterStemmer

In [111]:
st = PorterStemmer()

In [112]:
train['tweet'][:5].apply(lambda x: " ".join([st.stem(word) for word in x.split()]))

0        father dysfunct selfish drag kid dysfunct run
1    thank lyft credit cant use caus dont offer whe...
2                                       bihday majesti
3                              model take urð ðððð ððð
4                              factsguid societi motiv
Name: tweet, dtype: object

In [113]:
from textblob import Word
train['tweet'] = train['tweet'].apply(lambda x: " ".join([Word(word).lemmatize() for word in x.split()]))

In [114]:
train.head()

,id,label,tweet,word_count,char_count,avg_word,stopwords,hastags,numerics,upper
0,1,0,father dysfunctional selfish drag kid dysfunct...,21,102,4.555556,10,1,0,0
1,2,0,thanks lyft credit cant use cause dont offer w...,22,122,5.315789,5,3,0,0
2,3,0,bihday majesty,5,21,5.666667,1,0,0,0
3,4,0,model take urð ðððð ððð,17,86,4.928571,5,1,0,0
4,5,0,factsguide society motivation,8,39,8.000000,1,1,0,0

In [115]:
TextBlob(train['tweet'][0]).ngrams(2)

[WordList(['father', 'dysfunctional']),
 WordList(['dysfunctional', 'selfish']),
 WordList(['selfish', 'drag']),
 WordList(['drag', 'kid']),
 WordList(['kid', 'dysfunction']),
 WordList(['dysfunction', 'run'])]

In [116]:
pd.value_counts('piyush piyush amit amit kunu kunu kunu'.split())

kunu      3
piyush    2
amit      2
dtype: int64

In [120]:
pd.Series('piyush piyush amit amit kunu kunu kunu'.split()).value_counts()

kunu      3
piyush    2
amit      2
dtype: int64

In [123]:
type(pd.Series('piyush piyush amit amit kunu kunu kunu'.split()))

pandas.core.series.Series

In [124]:
'piyush piyush amit amit kunu kunu kunu'.split()

['piyush', 'piyush', 'amit', 'amit', 'kunu', 'kunu', 'kunu']

In [11]:
len('piyush piyush amit amit kunu kunu kunu')

38